/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEFINE FONT */
@font-face {
    font-family: Lato-Regular;
    src: url('../font/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato-Italic;
    src: url('../font/Lato/Lato-Italic.ttf');
}

@font-face {
    font-family: Lato-Bold;
    src: url('../font/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: Lato-LightItalic;
    src: url('../font/Lato/Lato-LightItalic.ttf');
}

@font-face {
    font-family: Lato-Light;
    src: url('../font/Lato/Lato-Light.ttf');
}

:root {
    --max-width: 85%;
}

/* FOOTER */
.footer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-image: url('../assets/images/footer-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.footer>.footer-content {
    display: flex;
    max-width: var(--max-width);
    margin: auto;
    flex-direction: column;
    width: 100%;
    padding: 50px 0px;
}

.footer>.footer-content>.footer-contact {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px dashed #fff;
    padding-bottom: 30px;
}

.footer>.footer-content>.footer-contact>.company-info {
    display: flex;
    flex-direction: column;
}

.company-info .company-info-item:nth-child(1) {
    text-transform: uppercase;
    font-size: 27px;
}

.footer>.footer-content>.footer-contact>.company-info>* {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.company-info .company-info-item:last-child {
    font-size: 24px;
}

.footer>.footer-content>.footer-contact>.site-map {
    display: flex;
    flex-direction: column;
}

.footer>.footer-content>.footer-contact>.site-map>* {
    padding: 15px 0px;
    font-size: 24px;
    color: #fff;
}

.footer>.footer-content>.footer-contact>.site-map>.title {
    text-transform: uppercase;
    font-weight: bold;
}

.footer>.footer-content>.footer-contact>.site-map>.items {
    display: flex;
    flex-direction: column;
}

.footer>.footer-content>.footer-contact>.site-map>.items>* {
    padding: 8px 0px;
    cursor: pointer;
}

.footer>.footer-content>.footer-contact>.support {
    display: flex;
    flex-direction: column;
}

.footer>.footer-content>.footer-contact>.support>* {
    padding: 15px 0px;
    font-size: 24px;
    color: #fff;
}

.footer>.footer-content>.footer-contact>.support>.title {
    text-transform: uppercase;
    font-weight: bold;
}

.footer>.footer-content>.footer-contact>.support>.items {
    display: flex;
    flex-direction: column;
}

.footer>.footer-content>.footer-contact>.support>.items>* {
    padding: 8px 0px;
    cursor: pointer;
}

.footer>.footer-content>.footer-information {
    margin-top: 40px;
    color: #fff;
    font-size: 25px;
}

@media(max-width: 1000px) {
    .footer>.footer-content>.footer-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 3px dashed #fff;
        padding-bottom: 30px;
    }

    .footer>.footer-content>.footer-contact>* {
        margin: left;
        margin-bottom: 50px;
    }

    .footer>.footer-content>.footer-information {
        padding-bottom: 50px;
    }

    .footer>.footer-content>.footer-contact {
        padding-bottom: 0px;
    }

    .footer>.footer-content {
        padding-bottom: 0px;
    }
}