/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEFINE FONT */
@font-face {
    font-family: Lato-Regular;
    src: url('../font/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato-Italic;
    src: url('../font/Lato/Lato-Italic.ttf');
}

@font-face {
    font-family: Lato-Bold;
    src: url('../font/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: Lato-LightItalic;
    src: url('../font/Lato/Lato-LightItalic.ttf');
}

@font-face {
    font-family: Lato-Light;
    src: url('../font/Lato/Lato-Light.ttf');
}

:root {
    --max-width: 85%;
}

/* INTRODUCE */
.introduce {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: auto;
    margin-top: 70px;
}

.introduce>.introduce-content {
    max-width: 60%;
    display: flex;
    flex-direction: column;
}

.introduce>.introduce-content>.content-header {
    padding: 0px 0px 20px;
}

.introduce>.introduce-content>.content-body {
    font-size: 25px;
}

.introduce>.introduce-content>.content-header>h2 {
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;
}

.introduce>.introduce-image {
    max-width: 30%;
}

.introduce>.introduce-image>img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .introduce>.introduce-content {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px 0px 40px;
    }

    .introduce>.introduce-image {
        max-width: 100%;
    }

    .introduce {
        flex-direction: column;
    }
}