/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEFINE FONT */
@font-face {
    font-family: Lato-Regular;
    src: url('../font/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato-Italic;
    src: url('../font/Lato/Lato-Italic.ttf');
}

@font-face {
    font-family: Lato-Bold;
    src: url('../font/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: Lato-LightItalic;
    src: url('../font/Lato/Lato-LightItalic.ttf');
}

@font-face {
    font-family: Lato-Light;
    src: url('../font/Lato/Lato-Light.ttf');
}

:root {
    --max-width: 85%;
}

.news {
    max-width: var(--max-width);
    margin: auto;
    padding: 50px 0px 0px;
    display: flex;
    flex-direction: column;
}

.news>.news-title {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgba(0, 129, 186, 1), rgba(0, 50, 100, 0.7));
    padding: 20px 22px;
}

.news>.news-title>.content {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.news>.news-title>a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.news>.news-content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.news>.news-content>* {
    flex-grow: 1;
    max-width: 32%;
    width: 100%;
}

.news>.news-content>.new-item .container {
    width: 100%;
}

.news>.news-content .item-title {
    color: #4B5B74;
    padding: 15px 0px;
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
}

.news>.news-content>.new-item:last-child .item-title {
    color: #AF3B45;
}

.news>.news-content .item-detail {
    font-size: 18px;
}

@media(max-width: 1150px) {
    .news>.news-content {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .news>.news-content>* {
        flex-grow: 0;
        max-width: 100%;
        width: 100%;
        margin-bottom: 50px;
    }

}