/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEFINE FONT */
@font-face {
    font-family: Lato-Regular;
    src: url('../font/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato-Italic;
    src: url('../font/Lato/Lato-Italic.ttf');
}

@font-face {
    font-family: Lato-Bold;
    src: url('../font/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: Lato-LightItalic;
    src: url('../font/Lato/Lato-LightItalic.ttf');
}

@font-face {
    font-family: Lato-Light;
    src: url('../font/Lato/Lato-Light.ttf');
}

:root {
    --max-width: 85%;
}

/* Products */
.products {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    margin: 40px auto;
}

.products>.product-categories {
    display: flex;
    justify-content: space-between;
}

.products>.product-categories>* {
    flex-grow: 1;
}

.products>.product-categories>.title {
    max-width: 10%;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    background-color: #004884;
    color: #D7FFFF;
    font-weight: bold;
    line-height: 67px;
}

.products>.product-categories>.categories {
    background-color: #EFEEEF;
    display: flex;
    justify-content: left;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.products>.product-categories>.categories>a {
    color: #2C2F2D;
    text-decoration: none;
    padding: 20px 0px 20px 20px;
}

.products>.product-categories>.categories>.category-item::after {
    content: "/";
    font-size: larger;
    margin: 0px 0px 0px 20px;
}

.products>.product-categories>.categories>a:last-child::after {
    content: "";
}

.products>.product-categories>.categories>.category-item:hover {
    color: #54728B;
}

.products>.products-list {
    margin-top: 45px;
    display: flex;
    justify-content: left;
}

.products>.products-list>.product-item {
    max-width: 300px;
    margin: 0px 10px;
}

.products>.products-list>.product-item>.container {
    width: 100%;
}

.products>.products-list>.product-item>img {
    height: 200px;
}

.products>.products-list>.product-item:first-child {
    margin-left: 0;
}

.products>.products-list>.product-item .item-title {
    padding: 10px 0px;
    font-size: 20px;
    color: #54728B;
}

.products>.products-list>.product-item .item-detail {
    font-size: 20px;
    color: #5A5958;
    width: 100%;
}

@media (max-width: 1405px) {
    .products {
        max-width: 95%;
    }
}

@media (max-width: 1000px) {
    .products>.products-list {
        margin-top: 45px;
        display: flex;
        flex-direction: column;
    }

    .products>.products-list>.product-item {
        max-width: 500px;
        margin: auto;
        padding: 40px 0px;
    }

    .products>.products-list>.product-item:first-child {
        margin-left: auto;
    }
}