/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEFINE FONT */
@font-face {
    font-family: Lato-Regular;
    src: url('../font/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato-Italic;
    src: url('../font/Lato/Lato-Italic.ttf');
}

@font-face {
    font-family: Lato-Bold;
    src: url('../font/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: Lato-LightItalic;
    src: url('../font/Lato/Lato-LightItalic.ttf');
}

@font-face {
    font-family: Lato-Light;
    src: url('../font/Lato/Lato-Light.ttf');
}

:root {
    --max-width: 85%;
}

.container {
    position: relative;
    width: 133px;
    height: 133px;
}

/* Make circle */
.circle {
    position: absolute;
    width: 133px;
    height: 133px;
    background-color: white;
    border: 5px solid #013C74;
    border-radius: 50%;
}

.rectangle {
    position: absolute;
    width: 140px;
    height: 100px;
    background-color: white;
    transform: rotate(45deg) translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transform-origin: 0% 0%;
}

.inner-circle {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: #013C74;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* SERVICE */
.services {
    padding: 45px 0px 0px;
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.services>.service {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services>.service>.body>* {
    text-align: center;
}

.services>.service>.body>.service-title {
    padding: 20px 0px 10px;
    font-size: 25px;
    color: #013C74;
}

.services>.service>.body>.service-detail {
    font-size: 20px;
    color: #80878C;
}

.service-content {
    padding: 0px;
    margin: auto;
    line-height: 120px;
    text-align: center;
    font-size: 50px;
    color: #fff;
}

@media (max-width: 1150px) {
    .services {
        padding: 45px 0px 0px;
        max-width: var(--max-width);
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .services>.service {
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding-bottom: 70px;
    }
}