/* RESET CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* DEFINE FONT */
@font-face {
	font-family: Lato-Regular;
	src: url('../font/Lato/Lato-Regular.ttf');
}

@font-face {
	font-family: Lato-Italic;
	src: url('../font/Lato/Lato-Italic.ttf');
}

@font-face {
	font-family: Lato-Bold;
	src: url('../font/Lato/Lato-Bold.ttf');
}

@font-face {
	font-family: Lato-LightItalic;
	src: url('../font/Lato/Lato-LightItalic.ttf');
}

@font-face {
	font-family: Lato-Light;
	src: url('../font/Lato/Lato-Light.ttf');
}

:root {
	--max-width: 85%;
}

/* HEADER */
/* Company info */
.header {
	background-color: #fff;
	color: #000;
	/* contact information color */
	text-align: center;
	border-bottom: 0px;
}

.company-info-header {
	display: flex;
	justify-content: space-between;
	max-width: var(--max-width);
	margin: auto;
}

.company-info-header>.company-logo-contact-header,
.company-info-header>.contact-info-header {
	flex-grow: 1;
}

.company-info-header>.company-logo-contact-header {
	max-width: 15%;
}

.company-logo-contact-header img {
	max-width: 100%;
	/* The image will have a maximum width equal to the width of the div container */
	height: auto;
	/* Ensure frame preservation ratio */
}

.company-info-header>.contact-info-header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
	max-width: 75%;
}

.country-icons {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
}

.country-icons img {
	margin-left: 5px;
	/* The spacing between national flags icons */
	max-width: 20px;
	height: auto;
}

.company-info-header>.contact-info-header>* {
	flex-grow: 1;
	font-size: 20px;
	display: flex;
	justify-content: center;
}

.company-info-header>.contact-info-header>*>* {
	flex-grow: 1;
}

.company-info-header>.contact-info-header>*>.contact-icon {
	max-width: 50px;
	height: 100%;
	margin: 0px 10px 0px 0px;
	color: #034C80;
	font-size: 30px;
}

.company-info-header>.contact-info-header>*>.contact-content {
	max-width: 60%;
}

.company-info-header>.contact-info-header>*>.contact-content {
	min-width: 300px;
}

.company-info-header>.contact-info-header>*>.contact-content>.contact-detail {
	text-align: left;
}

/* Navbar */
.navbar {
	background: linear-gradient(to bottom, rgba(0, 129, 186, 1), rgba(0, 50, 100, 0.7));
}

.nav-content {
	overflow: hidden;
	max-width: var(--max-width);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.nav-content>* {
	flex-grow: 1;
}

/* Toggle button */
.nav-toggle {
	display: none;
	/* Hide humburger button */
	cursor: pointer;
	min-height: 30px;
	margin: auto;
	height: 100%;
}

.active .bar1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.active .bar2 {
	opacity: 0;
}

.active .bar3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

/* Navbar items */
.navbar a {
	color: white;
	text-align: center;
	padding: 30px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
	background-color: #F0F3F5;
	color: #0081BA;
}

/* Centered search container */
.search-container {
	text-align: center;
	display: flex;
	justify-content: center;
	padding: 0px 20px;
}

.search-container input[type="text"] {
	padding: 10px 10px;
	border: none;
}

.search-container input[type="text"]::placeholder {
	text-transform: uppercase;
}

.search-container input:focus-visible {
	outline: none;
}

.search-container button {
	padding: 10px 10px;
	background: #fff;
	border: 10px black;
	cursor: pointer;
	color: #000;
}

/* Slideshow container */
.slideshow-container {
	position: relative;
	margin: 0;
}

/* Full-width images with number and caption text */
.mySlides {
	display: none;
}

.slideshow-container .mySlides img {
	width: 100%;
	height: 700px;
	object-fit: cover;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	transform: translateY(-50%);
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* SLOGAN */
.slogan {
	background: repeating-linear-gradient(45deg, #fff, #fff 5px, #ddd 5px, #ddd 10px);
	background-size: 5px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 25px;
}

.slogan>.content {
	font-size: 25px;
	color: #014581;
	font-weight: 600;
}

/* PARTNERS */
.partners {
	max-width: var(--max-width);
	margin: 50px auto;
	display: flex;
	flex-direction: column;
}

.partners>.partners-title {
	text-transform: uppercase;
	font-size: 25px;
	color: #014581;
	font-weight: 800;
	padding: 80px 0px 0px;
}

.partners>.partners-content {
	display: flex;
	justify-content: left;
	margin-top: 60px;
}

.partners>.partners-content>* {
	flex-grow: 1;
	height: 200px;
	margin: auto;
	display: flex;
	justify-content: center;
}

.partners>.partners-content>.partner>img {
	height: 200px;
	margin: auto;
}

/* Responsive */
@media (max-width: 1500px) {
	.nav-toggle {
		display: block;
		/* Display the hamburger button when the screen size is less than 1500px */
	}

	.nav-content {
		display: none;
		/* Hide items in main menu */
		flex-direction: column;
		/* Display items vertically */
		position: absolute;
		background-color: #333;
		top: 60px;
		right: 0;
		left: 0;
		z-index: 1;
	}

	.navbar {
		position: relative;
	}

	.nav-content>a {
		top: 10%;
		width: 100%;
	}

	.nav-content.active {
		display: flex;
		/* Display the menu when activated */
	}

	.hamburger-icon {
		padding: 5px 0 0;
	}

	.hamburger-icon.active .bar1 {
		transform: rotate(-45deg) translate(-5px, 6px);
	}

	.hamburger-icon.active .bar2 {
		opacity: 0;
	}

	.hamburger-icon.active .bar3 {
		transform: rotate(45deg) translate(-5px, -6px);
	}
}

@media (max-width: 1300px) {
	.company-info-header {
		flex-direction: column;
		/* Stack elements vertically within the company-info-header */
		align-items: center;
		/* Center elements */
	}

	.company-info-header>.company-logo-contact-header,
	.company-info-header>.contact-info-header {
		flex-grow: 0;
		/* Do not expand this element to evenly distribute the space */
		max-width: 100%;
		/* Take up the entire width */
		margin-bottom: 20px;
		/* The spacing between elements */
	}

	.company-info-header>.contact-info-header>.country-icons {
		position: static;
		/* Remove position: absolute to display in the correct position */
		display: flex;
		justify-content: center;
	}

	.company-info-header>.contact-info-header>*>.contact-icon {
		max-width: 100%;
		margin: auto;
	}

	.company-info-header>.contact-info-header>* {
		flex-grow: 0;
		max-width: 100%;
		margin-bottom: 20px;
	}

	.company-info-header>.contact-info-header>*>.contact-content {
		min-width: auto;
		min-width: 100px;
	}
}

@media(max-width: 1000px) {
	.partners>.partners-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.partners>.partners-content>* {
		flex-grow: 1;
		height: 200px;
		margin: auto;
		display: flex;
		justify-content: center;
	}
}