/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEFINE FONT */
@font-face {
    font-family: Lato-Regular;
    src: url('../font/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato-Italic;
    src: url('../font/Lato/Lato-Italic.ttf');
}

@font-face {
    font-family: Lato-Bold;
    src: url('../font/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: Lato-LightItalic;
    src: url('../font/Lato/Lato-LightItalic.ttf');
}

@font-face {
    font-family: Lato-Light;
    src: url('../font/Lato/Lato-Light.ttf');
}

:root {
    --max-width: 85%;
}

.videos-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 50px 0px 0px;
    display: flex;
    flex-direction: column;
}

.videos-container > .videos-title {
    background: linear-gradient(to bottom, rgba(0, 129, 186, 1), rgba(0, 50, 100, 0.7));
    padding: 20px 22px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.videos-container > .videos-list {
    display: flex;
    justify-content: space-between;
    padding: 35px 0px 0px;
}

.videos-container > .videos-list > * {
    flex-grow: 1;
}

.videos-container > .videos-list .video {
    margin-top: 30px;
}

.videos-container > .videos-list .video-item-title {
    background-color: #F2F3F3;
    display: flex;
    justify-content: center;
    padding: 0px;
    width: 100%;
}

.videos-container > .videos-list .video-item-title > .title {
    background-color: #fff;
    display: inline-block;
    padding: 10px 10px;
    margin: auto;
    font-size: 23px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 400;
}

.videos-container > .videos-list > .video-product {
    max-width: 49%;
}

.videos-container > .videos-list > .video-company {
    max-width: 49%;
}

@media (max-width: 1400px) {
    .videos-container > .videos-list {
        display: flex;
        flex-direction: column;
        padding: 35px 0px 0px;
    }

    .videos-container > .videos-list > * {
        flex-grow: 0;
        margin-bottom: 75px;
    }

    .videos-container > .videos-list > .video-product {
        max-width: 100%;
    }
    
    .videos-container > .videos-list > .video-company {
        max-width: 100%;
    }
}